.image-mosaic {
    display: grid;
    margin: 50px;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-rows: 300px;

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        overflow: hidden;
        padding: 0;
        margin: 0;
        position: relative;
    }

    .img-style {
        height: 90%;
        width: 100%;
        object-fit: scale-down;
    }

    .icon-style {
        margin-top: 5px;
        color: white;
    }

    .fav-icon-style {
        color: red;
    }
}
